---
---

@import 'jekyll-theme-hacker';

footer {
  border-top: 1px dashed #b5e853;
}

ol li a {
  text-decoration: none;
}

.a_header {
  color: #b5e853;
  text-decoration: none;
}

.fb-comments {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}
